
	<nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
	        <div class="container">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand text-danger" href="#">Swagger Sports</a>
	            </div>
	            <div class="navbar-collapse collapse" id="navbar-collapsible">
	                <ul class="nav navbar-nav navbar-left">
	                    <li><a href="#section1">Find Members</a></li>
	                    <li><a href="#section2">Profile</a></li>
	                    
	                    <li><a href="#section6">Logout</a></li>
	                    <li>&nbsp;</li>
	                </ul>
	               
	            </div>
	        </div>
    </nav>
	<div class='container'>
		<div class='content'>		
			 <img src="./assets/moon.jpg" alt="" class="center-block img-circle img-responsive"> 
			 <div class='pin'>
				This is some text by Moon
			 </div>
			 <p></p>
			 <div class='pin' id='message_reverse'>
				This is some text by Moon
			 </div>
			  <img src="./assets/moon.jpg" alt="" class="center-block img-circle img-responsive"> 
			 <p></p>		 
			 <img src="./assets/moon.jpg" alt="" class="center-block img-circle img-responsive"> 
			 <div class='pin'>
				This is some text by Moon
			 </div>
			 
			 <p></p>
			  





		 <textarea class='pin'></textarea> <button class='btn btn-danger text-danger'>Send</button>
		 <p></p>

		</div> 
	</div>
	
